body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.loading {
  margin: 0 auto;
}

.result {
  display: flex;
  justify-content: space-between;
}

.poll-author {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.dashboard-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.dashboard-toggle button {
  border: none;
  background: transparent;
  font-size: 22px;
}

.add-poll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poll-container {
  display: flex;
  flex-direction: column;
}

.poll-container .list-group-item {
  cursor: pointer;
}

.question {
  font-size: 30px;
  text-align: center;
}

.user {
  display: flex;
}
.poll-author img,
.user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.user p {
  margin-top: 6px;
  margin-bottom: 6px;
}

@media (max-width: 500px) {
  .poll-container {
    flex-direction: column;
  }
}
